[2015-10-07 18:40] githoov opened #2 "all vectors/data frames are factors"
Data types are not preserved in the JSON response from the Looker API. This is a known bug and will be addressed by the Looker Engineering team shortly.

[2015-10-14 15:32] githoov opened #3 "Installation fails for Windows machines"
At the point of running `install_github("looker/lookr")` a Windows user gets the following:
[code]

[2015-12-03 21:34] snarron opened #4 "Make non-json content query-able"
Can't pull non-json results today. Would be great if we could.

From lookr/src/main/gen/io/swagger/client/ApiClient.java
[code]

[2015-12-03 21:52] githoov commented on #4
@snarron What did you have in mind? At present, I convert all queries into an R data frame directly, which is sort of the default data structure for R. What sort of data structure would you like to see?

[2015-12-03 21:59] snarron commented on #4
@githoov

So, the function run_look() allows the developer to pick a format through
the format arg. The default is json, as you know. Once you change the
format (e.g. run_look(602, format=”csv”)), you get the following error:

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,  :
io.swagger.client.ApiException: can not deserialize Content-Type:
text/plain;charset=utf-8

That’s

[2015-12-03 22:09] githoov commented on #4
`read.csv(run_look(602,format="csv"))` will create a data.frame, which run_look(602) already does.

[2015-12-03 22:17] snarron commented on #4
in that case we probably should make it clear that you shouldn't pass values through the format arg? maybe i read too much into what i can pass through the function.

[2015-12-04 01:16] githoov commented on #4
@snarron So—you're looking at the Swagger-generated Java. I'd expect most users to follow the README for this repo. And in that document, it's pretty clear, in my opinion, that neither `run_look` nor `run_inline_query` take data-type parameters. However, I can add this to the documentation to be clear. Would that help?

[2015-12-04 01:40] #4 closed

[2015-12-04 01:40] snarron commented on #4
@githoov

That's fair enough - no worries for now. I don't think customers trying to
use LookR would get deep into the Java code anyway.

Thanks!

On Thu, Dec 3, 2015 at 5:16 PM, Scott Hoover <notifications@github.com>
wrote:

[2016-01-18 19:58] markebrown opened #5 "run_inline_query"
I am getting this error trying to run run_inline_query. I got run_look to work. Did something change with run_inline_query or am I doing something wrong? Thanks.

my_inline_query <- run_inline_query(model = "shipments",
                                     view = "accounts",
                                    fields = c("accounts.count"))
Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invok

[2016-01-18 22:20] githoov commented on #5
@markebrown I'm seeing this as well. I'll do some research.

[2016-02-01 23:39] lawwu opened #6 "run_look does not handle 0's well"
If an output cell in Looker is empty, it looks like Looker fills in that empty cell with whatever was in the first column. This is the warning message below:

[code]

[2016-02-01 23:44] githoov commented on #6
@lawwu Could you provide a bit more context in order to reproduce please? For instance, what is the look returning? How many and what type of dimensions, measures, pivots, filters, etc? What is the expected response data format?

Thanks!

[2016-02-02 00:23] lawwu commented on #6
I pulled a Look that has 1 dimension (month), 4 measures and 1 pivoted dimension. Filtering the pivoted dimension to only show 4 values and filter the month for the latest year.

 In Looker I've confirmed that the first row should only have one of the measures populated. But in R when using run_look, the data isn't carrying over. I can share screenshots if that'd be helpful.

[2016-02-02 03:16] githoov commented on #6
@lawwu If you don't mind sharing an image, that'd be very useful. Please obfuscate any potentially sensitive data of course.

[2016-02-03 17:16] lawwu commented on #6
It seems like if a value is null, the run_look function is filling in that null value with whatever is in the first column:

![looker output](https://cloud.githubusercontent.com/assets/9869041/12790327/a09c11fe-ca56-11e5-9cf3-fb12daa427a9.png)
![r output](https://cloud.githubusercontent.com/assets/9869041/12790329/a12ac2fa-ca56-11e5-8562-1e89e653abac.png)

[2016-06-06 21:55] thekenz commented on #5
I checked around here, and found that this is actually caused by when `view:` is referencing a view that isn't listed as the base view for an Explore.

So let's say that I have this model file:

[code]
As it stands, I can only set `view` in the `run_inline_query` command here to be equal to `order_items` and nothing else, because the only view declared in the model file is `order_items`.

In other

[2016-06-06 23:56] githoov commented on #5
Thanks @thekenz. I suppose the use of `view` in the function is misleading. It ought to be `base_view` or `explore`.

[2016-06-09 19:24] thekenz opened #8 "Collapse and expand grouped sections of data table"

[2016-06-09 19:24] thekenz commented on #8
+1 Pelikan Travel

[2016-06-09 19:25] #8 closed

[2016-06-10 15:07] maxcorbin commented on #2
@githoov Any movement on this? Would it be sensible to have R guess the data types for each column? There are already packages which do this, perhaps `type_convert` from the [readr](https://cran.r-project.org/web/packages/readr/readr.pdf) package in the Hadleyverse?

[2016-06-10 15:25] githoov commented on #2
I'm out of the office until the end of the month, but if you want to make a PR, I'll review it. Also, Ken is working on something else in LookR; y'all might be able to coördinate.

[2016-06-20 22:33] aryeh-looker opened #9 "R 3.2.X required"
Repository must be updated to mention that R `3.2.X` is required. Earlier versions (e.g. 3.0.2) do not work with lookR. @githoov

[2016-06-21 04:05] githoov commented on #9
Merged PR. Thanks for the fix.

[2016-07-07 19:55] #9 closed

[2016-07-08 16:50] githoov commented on #2
@maxcorbin @thekenz Maybe we should research RJSONIO or jsonlite. I'm guessing that all of the JSON parsers for R have this issue. In the old version of LookR, I included a helper function, which we could add back.

[code]

[2016-07-08 18:11] githoov opened #11 "`run_look` needs limit override"
Regenerate Java SDK and include arguments in R wrapper function.

[2016-07-12 05:43] #5 closed

[2016-07-13 15:51] githoov commented on #6
@lawwu This should be resolved. You can update your LookR version by running `install_github("looker/lookr")`. You should see that we're using the RJSONIO library rather than rjson. That seems to have done the trick. Thanks, @thekenz for the change.

[2016-07-13 15:51] #6 closed

[2016-07-13 20:51] githoov commented on #2
Correction: this issue is a Looker API 3.0 issue, which is being worked on right now.

[2016-07-20 01:28] thekenz opened #12 "run_sql_query method"
Be able to create a SQL query in Looker, and pull that data into LookR using URL parameters found in the generated SQL Query.

[2016-08-15 16:24] maxcorbin commented on #11
Did this locally with success, will link to pull request when it is available

[2016-08-23 18:00] brianlafaille commented on #3
+1 Reed for tracking: @maxcorbin, @thekenz, @jax for visibility.

[2016-08-24 15:39] shawnconnor commented on #3
Just curious, any motion on this error? I'm still getting a very similar one after downloading and unzipping (had curl problems with install_github):
[code]

[2016-08-24 16:48] maxcorbin commented on #3
This issue has been resolved by removing the `src` directory. Turns out files in that directory were architecture specific and get built upon installing the package anyways!

[2016-08-24 16:48] #3 closed

[2016-08-24 17:15] shawnconnor commented on #3
That's great! I'm still getting an error, though; I don't know if this is related or something else? But Java is up to date (1.8.0_101) and rJava and RJSONIO are freshly installed/reinstalled so maybe it's the package?

[code]

[2016-08-24 21:34] maxcorbin commented on #11
This was also changed in the latest push, should be able to provide a limit override like so:

[code]

_Note that for now, limits have to be specified as strings. Update coming on this so users can supply a number._

[2016-08-24 21:35] maxcorbin commented on #12
This scares me

[2016-08-24 21:44] githoov commented on #12
How so?

[2016-08-24 21:45] thekenz commented on #12
Max was thinking that this function could possibly introduce a way for people to sidestep not having a SQL Runner permission. But the way that I'm thinking about implementing this forces people to go through SQL Runner to access the data.

[2016-08-24 21:56] githoov commented on #12
mmmmhm

[2016-09-07 20:21] GShotwell opened #13 "Error loading package"
I'm having some trouble loading the package on OS X 10.11.5 (15F34), RStudio  0.99.903, I get this error when I try to load the Lookr package:

[code]

rJava loads successfully, and I'm out of ideas. Any thoughts?

[2016-09-08 00:27] maxcorbin commented on #13
Hey @GShotwell, sorry you're running into trouble here! Can you let me know what version of R you're running and what your JAVA_PATH variable is set to?

[2016-09-08 00:31] maxcorbin commented on #13
I have run into this problem a couple of times and use the guide here to resolve it, this seems to be a problem generally with Java 8 and Mac OS X, so we'll be looking for ways to work around this in the long-term: https://oliverdowling.com.au/2014/03/28/java-se-8-on-mac-os-x/

Let me know whether that guide helped, I'll probably be writing a script to do this soon.

[2016-09-08 12:48] GShotwell commented on #13
@maxcorbin I'm on R v 3.3.1, I'm not sure how to check my JAVA_PATH variable

I'll give that Java set up a try, but have you all thought about building an R package which doesn't have the Java dependency? It seems like `httr` would provide the same functionality without causing people so much set up trouble.

[2016-09-08 16:02] githoov commented on #13
@GShotwell The idea behind all of the Java dependencies was this: Looker's API has been, and continues to be, in a state of constant change. Rather than write a package that directly handles authentication and hits the various REST endpoints, we wanted to rely on the fact that we can generate SDKs/clients programmatically using Swagger. That way the LookR maintenance component would be relatively

[2016-09-08 17:06] GShotwell commented on #13
I see, that makes a lot of sense.

My impression from the R community is that there's a tendency to try to avoid this kind of dependency if possible. The reason is just that (relative to other programmers) a lot of R users are super uncomfortable with set-up processes which require them to open up their terminal, and often abandon things which don't work out of the box from a CRAN or github instal

[2016-09-11 12:14] eebsidian commented on #11
Hi there,  It seems I can only retrieve 100 rows even though I specify higher values.  Is there a limitation?

[2016-09-12 18:45] maxcorbin commented on #13
@GShotwell Closing this issue, but I think you have a point re: non-Java dependent solutions. I've got some plans around this.

FYI, my resources for troubleshooting this package usually are from packages like `xlsx` and other R packages that are on CRAN that run into Java issues, if you need more help configuring things properly.

Thanks for the feedback here, feel free to open a new issue or mes

[2016-09-12 19:00] sunny2nyc opened #14 "Can't install devtools package on windows"
Hi Maxie,

I tried to install package "devtools" and get below error message:
![error](https://cloud.githubusercontent.com/assets/22156610/18448502/6a9a7738-78f9-11e6-9cb0-9f5ce1691739.PNG)

When I install the package, I choose USA (MI) as my cran. I'm in New York, I'll try to select another cran to see. and could you advise me how to download these errored dependencies seperately?

Thank you so m

[2016-09-12 19:06] sunny2nyc commented on #14
Hi Maxie, I deleted my r and downloaded a new one, now I can install the package successfully. It's just when I try to install github, I get below error:
![error](https://cloud.githubusercontent.com/assets/22156610/18448753/45da73e8-78fa-11e6-94c7-54ea2e6b7c74.PNG)
Shall I download "rjava" seperately?

Thanks,
Sunny

[2016-09-12 20:01] maxcorbin commented on #14
Hey @sunny2nyc this looks like a pretty classic issue with your Java environment. It looks like your `JAVA_HOME` variable is not set. When you install RTools, you should be given an opportunity to let RTools know that you want it to update your JAVA_HOME environmental variable and registry entry. You should try checking that off during installation of RTools, let me know if you do this and the pro

[2016-09-12 20:02] maxcorbin commented on #14
If that doesn't work, you can try following this guide: https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html

[2016-09-12 20:16] sunny2nyc commented on #14
Hi @maxcorbin, it's a shame that it's my first time using Java, confused on a lot of things. Do you mean check below box:
![image](https://cloud.githubusercontent.com/assets/22156610/18451263/34d5d1e6-7904-11e6-8fa7-cbcf802b2a8a.png)

Thanks,
Sunny

[2016-09-12 20:22] sunny2nyc commented on #14
@maxcorbin want to ask you a separate question, the last step is bring analytic results from R to looker. I googled the info and found sample codes for redshift:

writeToDatabase <-function(dataframe,date){
  #How to write the final data back to a databse
  # NOTE THIS IS HOW TO DO IT FOR REDSHIFT ONLY!!!! FOR OTHER DATABASES, PLEASE SEARCH FOR THE APPROPRIATE API ONLINE
  dataframe$score_date <-

[2016-09-12 21:38] sunny2nyc commented on #14
Hi @maxcorbin, I'm guessing maybe my IT people didn't download the correct java 8 for me. In the article you send me, it seems that I need JDK instead of JRE. The Java 8 installed on my pc is: C:\Program Files (x86)\Java\jre1.8.0_101. I'm thinking maybe I should install JDK instead?

Thank you and have a nice one!

Best regards,
Sunny

[2016-09-12 21:45] sunny2nyc commented on #14
Sorry I keep asking stupid question, if I asked them to update my system variable as:

![image](https://cloud.githubusercontent.com/assets/22156610/18454116/9983858c-7910-11e6-965c-789c0fe37798.png)

will things work properly?

[2016-09-13 00:53] maxcorbin commented on #14
Hey @sunny2nyc, this doesn't seem like a LookR problem anymore, so I'm probably going to close this issue. I'm not qualified to give you advice on how to get your data back into your database from R. Please bring this question to StackOverflow or some other website for general programming advice.

[2016-09-13 00:53] #14 closed

[2016-09-13 13:36] sunny2nyc commented on #14
Hi @maxcorbin, thank you so much for your help! It's all good now. I have installed lookr. I'll google the rest of the codes I need. Have a nice one!

[2016-09-13 14:16] sunny2nyc commented on #14
Morning Maxie,

Thank you so much for your help! I have installed lookR successfully on my computer. I tried to bring data from looker using below R scripts:

library("rJava")
library("RJSONIO")
library("LookR")

looker_setup(id="hrD84CCz4VHrrJppnMJq", secret= "fmzq7y6hv7C9JsSctMQBHmBw", api_path="https://arkadium.looker.com:19999")
gettrainingdata = function(){
print("Getting data")
returnvalue=r

[2016-09-13 14:32] GShotwell commented on #13
Thanks for the offer, I ended up just writing an internal package around the REST api because I think it suits our needs a bit better. I'd be happy to open source the package if you want to go the REST route.

[2016-09-19 20:54] shawnconnor opened #15 "RJavaTools error"
When running on windows, I receive the following error when running looker_setup:
[code]

I believe this has to do with local java certs and I am looking into it based on [these](https://www.mkyong.com/webservices/jax-ws/suncertpathbuilderexception-unable-to-find-valid-certification-path-to-requested-target/) instructions. Will update if I find out more.

[2016-09-21 00:58] maxcorbin commented on #11
@eebsidian No, the maximum should be whatever you provide. If you run the same Look with a 100 row limit set, do you get a warning that you ht the row limit?

[2016-09-21 01:02] maxcorbin commented on #15
@shawnconnor Let me know if the java certs were the problem, I hope that is the case!

[2016-09-21 17:40] shawnconnor commented on #15
Those instructions didn't work, got as far as running the java file and it threw a string of exceptions. I still suspect the certs are the problem but I'm not sure how to resolve it.

[2016-09-25 19:47] shawnconnor commented on #15
I was able to successfully connect. For the benefit of anyone else who runs into this, I had to:
- Download the cert file from our internally-hosted Looker site using a browser (I used chrome)
- Running from an admin-mode command prompt, use keytool import to add that cert to my cacerts, one at a time (presumably R only uses one but I didn't know which, so I did them all; 32 and 64 bit, jdk and jr

[2016-09-26 19:49] #15 closed

[2016-09-26 20:46] kidman007 opened #16 "Can't get to work with Windows"
Are do you have instructions on how to get this package to work with Windows?

[2016-10-26 16:20] Rich1000 commented on #11
+1 from me

[2016-12-13 20:06] kidman007 commented on #11
+1 from me as well.

[2017-02-21 17:34] sdoberman opened #17 "Functions not being loaded in on Package Load"
It appears that the functions in LookR are not being loaded automatically, forcing the user to copy/paste each function in.

Reproduction Example:

run_look(look_id = 1)
Error in isTRUE(token_authenticated()) :
  could not find function "token_authenticated"

[2017-02-23 22:47] maxcorbin commented on #11
Update on this: Due to a problem with `swagger`, the `run_look` function won't be able to support limit overrides until Looker's engineering department fleshes out the `Look` java class a bit more.

However, the limit overrides are working as expected on `run_inline_query`, so this is the workaround for now!

[code]

I'll be updating the repository to not accept `limit` as an argument to `run_look

[2017-03-13 22:30] maxcorbin opened #18 "TO DO: get_look()"

[2017-08-11 16:26] shuakk opened #19 "Run_inline_query return me whole number"
I set up the library correctly in R studio, and did return me the results. But all decimal numbers in looker are returned as whole number in R.
Anyone know why?

[2017-08-11 17:07] AleksandrsVedernikovs commented on #19
Hey @shuakk can you check if you have decimals legacy feature enabled on your instance? admin/legacy features?

[2017-08-11 17:41] shuakk commented on #19
@AleksandrsVedernikovs Yes, That feature is on.

[2017-08-11 17:43] maxcorbin commented on #19
@shuakk Can you show us the code you're working with and the LookML for the field which should be displaying as a decimal and is returning as an integer?

Also, please confirm that the field which is returning as an integer returns as a decimal in Looker. Screenshots here would be helpful so we can see the full picture, but be sure to redact any sensitive information.

[2017-08-11 17:47] shuakk commented on #19
![image](https://user-images.githubusercontent.com/30934135/29225159-2ddedae8-7e9b-11e7-8ecf-2606c35fc69d.png)
![image](https://user-images.githubusercontent.com/30934135/29225183-3f8f1118-7e9b-11e7-8333-0c0a58914fe0.png)
![image](https://user-images.githubusercontent.com/30934135/29225201-4bbefbc4-7e9b-11e7-8574-d2f4417e0333.png)
![image](https://user-images.githubusercontent.com/30934135/2922526

[2017-08-11 17:48] shuakk commented on #19
In case you need to know my getTrainingData
![image](https://user-images.githubusercontent.com/30934135/29225317-cc6253a2-7e9b-11e7-96c0-873dc92ca47c.png)

[2017-08-11 17:49] maxcorbin commented on #19
Excellent, thanks @shuakk, this helps a lot. I'll investigate this issue and see if it's something on our end, hopefully can push some changes this weekend

[2017-08-11 17:50] shuakk commented on #19
Awesome, thanks a lot!

[2017-08-22 17:57] shuakk commented on #19
@maxcorbin Any updates? Did you fixed the issue for the decimals?

[2017-11-01 09:48] fd3 opened #20 "Need lookr to work with Windows."

[2017-11-29 22:06] maxcorbin commented on #20
@fd3 What error code are you getting that is preventing you from running LookR on Windows? Please tell me more about your system and what the problem is or I will be unable to work on a fix

[2017-12-20 11:06] Rich1000 commented on #11
Any progress on this?

We've got a few people in the company that could start using R to do some really interesting stuff with our modelled data if only they could get it into R.

[2017-12-20 17:20] githoov commented on #11
workaround: `run_look(look_id = 111, limit = "-1")`

[2017-12-21 17:08] Rich1000 commented on #11
If only I'd known! I created a very simple package to do this in the end: https://github.com/Rich1000/lookr

[2018-01-02 21:11] zbenafia commented on #20
Hi maxcorbin,
I also get an error when installing lookr on a windows machine:
[code]

[2018-01-02 21:15] maxcorbin commented on #20
@zbenafia It looks like this error is being thrown by rJava, can you tell me what version of Java you are running and check to ensure that `JAVA_HOME` variable is set?

Please also provide the output of `R.Version()` for posterity

[2018-01-02 21:27] zbenafia commented on #20
I'm using java version "1.8.0_151". my R version is 3.4.3
[code]

[2018-01-02 21:29] maxcorbin commented on #20
@zbenafia Excellent, thanks for this. And we should check the `JAVA_HOME` variable, which ought to an environmental variable in your current install. R thinks its unset, there's a good guide on setting this in Windows if you haven't not done this before: https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html

[2018-01-04 15:47] zbenafia commented on #20
@maxcorbin it looks like my JAVA_HOME is properly set. rjava is loading fine and I was able to install 'rstudio/shiny' from github successfully. However looker/lookr is throwing me an error when I try to install it.
[code]

[2018-01-04 17:42] maxcorbin commented on #20
@zbenafia thanks for getting that info to me, that helps a ton. I'll work on reproducing on a windows machine. Can you tell me which release of Windows you are using too? I have a test environment using Windows 10, but can spin up something else

[2018-01-04 17:56] zbenafia commented on #20
@maxcorbin I have Windows 10 on my machine. And thanks for your help.

[2018-01-12 20:43] jeremyjames13 opened #21 "Pivots not working with run_inline_query??"
Hey Maxie, I'm having trouble with the "run_inline_query" function. It seems to be completely ignoring any information that's added for "pivots". When I add a dimension as a pivot, the function runs normally as if nothing was there at all and completely ignores whatever I put in that section. I did a (very amateurish...) review of the underlying code and it looks like this input isn't used at all?

[2018-01-12 21:20] maxcorbin commented on #21
@jeremyjames13 I totally see what you're talking about. It could be easy or hard

Easy: If the java classes are present, just implement the pivots in the `run_inline_query` function, similar to how the `fields` get implemented

Hard: if the java classes are missing, we will also have to rebuild the java sdk (plus pivot implementation in R)

Thanks for the feedback here, @jeremyjames13, there are a

[2018-01-12 21:31] maxcorbin commented on #12
Closing, I don't think this is supported by our API at a more basic level

[2018-01-12 21:31] #12 closed

[2018-01-26 17:57] zbenafia commented on #20
Hey @maxcorbin , just following up with this. When do you think we can get a Windows version of lookr ?
Thanks!

[2018-01-27 23:34] maxcorbin commented on #20
@zbenafia This project is an open source project run by volunteers who work at Looker, so I'm not able to give any kind of deadline for any specific fix or functionality.

It's worth noting that myself and others have been able to install and run LookR on Windows 10 in just the past week, so this issue is almost certainly being caused by a configuration issue on your machine. You are probably in t

[2018-02-09 22:28] chrispatrickcville commented on #13
Hi, I'm having a similar issue. I'm able to install/load rJava and other packages that have rJava dependencies (xlsx) but can't figure out how to address the issue with lookr. `Error: package or namespace load failed for ‘rJava’:
 .onLoad failed in loadNamespace() for 'rJava', details:
  call: dyn.load(file, DLLpath = DLLpath, ...)
  error: unable to load shared object '/Library/Frameworks/R.frame

[2018-02-12 21:58] chrispatrickcville commented on #13
I was able to resolve my issue by running the following in my terminal:
[code]

[2018-02-13 16:36] maxcorbin commented on #13
@chrispatrickcville Yeah, you're on to something there, I was able to fix this on my end using the directions posted on this blog post: https://oliverdowling.com.au/2014/03/28/java-se-8-on-mac-os-x/comment-page-1/

The following commands should work for Mac OS X High Sierra, and I think also all the way back to Yosemite, though this requires more testing:

[code]

You may have to use super user (`

[2018-02-13 16:37] maxcorbin commented on #13
I'm closing this as solved since this seems to have a solution outside of changes to LookR, please comment if you are still running into this

[2018-02-13 16:37] #13 closed

[2018-02-19 15:43] zbenafia opened #22 "look not running"
Hi, I'm getting the following error when I run `run_look(114)`

[code]
anyone knows the meaning of this?

[2018-02-19 17:38] maxcorbin commented on #22
@zbenafia The "Not Found" error is an HTTP 404 status. This indicates that:

1. The API user does not have permissions for this endpoint (the user does not have the `see_looks` or `access_data` permissions)
2. The endpoint does not exist (unlikely unless you have modified the Java classes or the R code used to call those classes)
3. The resource you are trying to retrieve does not exist (confirm t

[2018-03-20 16:13] willdougadams commented on #21
+1 [Cengage](https://looker.zendesk.com/agent/tickets/131836)

[2018-04-11 06:40] mermiller commented on #11
+1 from from me too.

[2018-04-25 15:00] jlthomps opened #23 "emojis in look data text fields breaks run_look"
It's possible this is actually a RJSONIO issue, so I apologize if it is not relevant here. I'm experiencing a failure of the run_look function when there are emojis in a text field returned by my look. It renders in the look, but I have to remove the offending row before run_look will work. I figured this out via trial and error, but the error given by R is:
Error in file(con, "r") : cannot open t

[2018-04-25 19:25] maxcorbin commented on #23
@jlthomps thanks for this report, we'll have to ensure that we handle unicode appropriately. I think this would be a simple fix (check encoding, escape appropriately, return data) but the R SDK is getting some work that might render this change obsolete so I'm not sure if this will make it into the package in its current form. If the changes seem to be getting pushed out further then I will push a

[2018-05-22 18:30] chrispatrickcville opened #25 "New runLook returns large list instead of dataframe"
I have a fairly simple look with 5 columns, including two pivot columns. Using the new sdk approach, I used runLook and got a large list of 20 elements:

id, supports_pivot_in_db, null_sort_treatment, from_cache, expired, ran_at, pivots, sql, sql_explain, fields, fill_fields, has_totals, has_row_totals, applied_filters, applied_filter_expression, explore, timezone, data, errors, drill_menu_build_t

[2018-05-23 18:35] maxcorbin commented on #25
@chrispatrickcville You're mostly correct about the pivots. The new method is a bit cumbersome, but I left it in place to leave room for when people are using pivots in their query. I was going to return a `data.frame` for unpivoted queries and a list for pivoted queries, but I'm uneasy about returning a different data structure in a way that is hard to predict for the client, so they both return

[2018-05-23 19:05] chrispatrickcville commented on #25
Thanks!

[2018-05-25 03:18] russellpierce opened #26 "sdk$runInlineQuery() results in an error"
Hiya, spoke with Peggy B. in Looker support earlier today and she asked me to open this issue related to my inability to get the `runInlineQuery` method of the SDK to work out of the box.

Here are what my attempts to trace the problem while working with Peggy showed...

`sdk$runInlineQuery()` calculates a JSON body which it passes in to  `self$userSession$queryApi$run_inline_query` which attempts

[2018-05-25 19:22] maxcorbin commented on #26
Heya @russellpierce! Thanks for the bug report, I know what is causing the problem and am working on deploying a fix for it that is backwards compatible. Hoping to get it out today but it might happen over the long weekend.

I'll take a look at the `jsonlite` issue here too, but my solution is probably going to avoid using `jsonlite` in favor of the swagger generated code contained in the `Query`

[2018-05-26 02:38] shawnconnor commented on #26
Thanks Max! I just ran into this issue as well; I was trying to switch a "runLook" to a "runInlineQuery" to get around the limit issue just now, and ran into this one instead. Great to see you already know about it.

[2018-05-26 03:07] shawnconnor commented on #25
In case it helps anyone, I did this to turn the json back into a dataframe:

[code]

[2018-05-28 21:50] #26 closed

[2018-05-28 21:53] maxcorbin commented on #26
This was fixed here, it's not the most graceful solution and I still haven't implemented the direct response -> `data.frame` pipeline that I want in a more complete version but since that'll be a breaking change I left it for the future

[2018-05-29 20:13] russellpierce commented on #26
Thanks for the quick work on this @maxcorbin !

[2018-05-30 17:39] chrispatrickcville commented on #25
Now it seems that the data structure is cleaned up, but I can't access the pivot columns any longer.

[2018-07-16 13:14] dougneedham opened #28 "sdk$runInlineQuery Filter with multiple options."
I need to be able to run an inline query where I can use a combination of filters.
For example: data <- sdk$runInlineQuery(model = "model_name",
                           view = "my_awesome_explore",
                           fields = c("id", "count"),
                           filters = list("field_name" = "filter_expression",
                                          "another_field" = "filter

[2018-07-16 19:45] maxcorbin commented on #28
Hey @dougneedham, thanks for bringing this up. It's not immediately clear to me whether the Looker API accepts duplicate keys for the same field in the `filters` parameter. Based on what I know, I would expect the following to work:

[code]

But this may not be the case based on how the Looker API expects the request and how LookR creates the request. There might be room for improvement on my end

[2018-09-27 21:59] ethanrmarkowitz opened #29 "Having trouble with filters"
I've tried adding filters to my Lookr queries, but they always return zero rows.   I'm sure the issue has something to do with the syntax, but I can't find any example of lookr queries with filters on which to base my code.  For now, I am just downloading entire tables and performing my data manipulation in R, but this is cumbersome.  Would you please post some examples of how the 'filters =' argu

[2018-09-28 05:31] PhlJns99 commented on #29
Hi Ethan,

I had this issue as well - it seems the documentation is incorrect.  This
works for me:-

filters = list(
c("view.field_1", "DESIRED_VALUE"),
c("view.field_2", "DESIRED_VALUE"),
c("view.field_3", "DESIRED_VALUE")

)

On 27 September 2018 at 22:59, ethanrmarkowitz <notifications@github.com>
wrote:

[2018-10-09 23:08] maxcorbin commented on #25
I've pushed some changes to the `dev` branch that make the default behavior to crunch the data into a `data.frame` which works fine for pivoted and unpivoted Looks. It automatically expands each pivot column into its own column so this can potentially result in very wide `data.frame`s. I'll merge the change into the `master` branch at some point soon, but you can use it now by installing from the

[2018-10-10 16:00] chrispatrickcville commented on #25
I had the same issue

[2018-10-10 16:32] tectoniccollinlooker commented on #25
Using the main lookr library this code worked like a charm:
`data <- sdk$runLook(lookId = 298)
df <-data.table::rbindlist(data, idcol = TRUE)`

Still error with `sdk$runInlineQuery`

[2018-10-10 16:55] maxcorbin commented on #25
@chrispatrickcville @tectoniccollinlooker yep, my bad. i'm working on a fix right now that isn't a short term as the last one I pushed.

Unfortunately R doesn't have very many good tools for ensuring that your dev environment isn't being polluted by other things installed on your disk so I'm setting up a test environment in a VM right now to make sure my changes here won't break on machines other

[2018-10-10 17:51] maxcorbin commented on #25
hey thanks to the folks in this thread for being my guinea pigs here, I've pushed about a dozen more changes while testing different fixes on the vm and found one that works. i get a bunch of compilation errors while installing on a debian-based system but it didn't seem to get in the way of installing and running `runLook`

[2018-10-10 17:53] chrispatrickcville commented on #25
Install works great for me now --- no errors

[2018-10-10 17:59] tectoniccollinlooker commented on #25
For me, a few listed errors but it installed the library anyway and appears to be working fine.

And the `runInlineQuery()` works beautifully I am getting a data frame

[2018-10-10 18:05] maxcorbin commented on #25
seems like the difference is between installing on a machine using `clang` as the C compiler vs. `gcc`/`g++`. I think `clang` doesn't show those errors. At any rate, seems like this is working ok. I'm going to close this issue and eventually up the version number and merge to master, since this might be a breaking change for some people

[2018-10-10 18:05] #25 closed

[2019-01-29 12:40] Nigel-Brown commented on #11
Has any work be done to reinstate the limit option of run_look ?

[2019-05-23 02:32] samudzi commented on #22
I've been running into this same issue.  I'm using the API key of an admin user who not only has full access to the entire instance, but is also the creator of the Look I'm trying to pull

[2019-06-05 18:11] NestleJsCrunch opened #31 "Ability to hit the update_session() endpoint to switch in/out of dev mode"
Currently users are unable to switch into out of dev mode by hitting the update_session() endpoint. A few users have reached out asking for this functionality.

[2019-06-05 18:51] jchoiellation opened #32 "Looker 6.12 Update - Access token error using new alternate API path"

[2019-08-12 20:44] #32 closed

[2019-10-07 19:32] tynesjo opened #34 "sdk$runInlineQuery inequality conditions"
when the runInlineQuery method of the lookr package SDK object is called then,
if you use a filters argument as a list of the form:
`list(variable=condition, variable2=condition2)`

where each condition is a string such as ">0",
then each condition ends up being sent to the API as a single-item array (e.g. [">0"]) and not as a string variable ">0", which I believe is not consistent with the API sp

[2019-11-07 22:58] dcroushore opened #35 "Compilation failures on install: R 3.6.1 on Mac"
I get the following errors when installing from github:

`** byte-compile and prepare package for lazy loading
Error: compilation failed -  bad assignment: ‘ApiVersionElement$new() <- ApiVersionElementObject’ at NULL
Error: compilation failed -  bad assignment: ‘LookBasic$new() <- LookBasicObject’ at NULL
Error: compilation failed -  bad assignment: ‘Dialect$new() <- DialectObject’ at NULL
Error:

[2019-11-08 22:21] mjassows commented on #11
What we've done here as a workaround is use a little variable injection in the resultFormat string:
sdk <- lookr::LookerSDK$new(configFile = "looker.ini")
df <- sdk$runLook(lookId = 605, resultFormat = 'json?limit=99999999')

[2020-01-27 22:25] GShotwell opened #38 "Is this package maintained?"
We're thinking of purchasing Looker and as part of that we're looking into how well Looker integrates to our existing R and Python workflows. I see that this package hasn't had any activity in 18 months, and also seems to be one API version behind the Looker API. I also see a number of issues which seem to be related to installing the package on windows and using recent versions of R which haven't

[2020-01-28 13:54] aaron-horowitz commented on #38
If it helps at all for the folks at Looker considering this, we've abandoned both the R and Python APIs entirely and basically use direct requests through http requests. I have no idea if this is the "right" answer, but found the original APIs sufficiently incomplete that this was the right choice for us.

[2020-01-30 20:50] jkaster commented on #38
Thanks for bringing this up! We've just been discussing the update to this internally.

This SDK has been caught in the transition to our new [SDK code generator](https://github.com/looker-open-source/sdk-codegen).

Work on a new version of `LookR` will begin after we have the Swift and Kotlin SDKs produced by our code generator ready for beta, but there's no specific date for that yet.

The first

[2020-01-30 20:53] dthorpe commented on #38
I don't believe any new work is planned for this R package. It was created and is maintained as a volunteer effort, not an officially supported Looker product.

We intend to support R as an output of our Looker Client SDK project, which is in active development: https://github.com/looker-open-source/sdk-codegen

One stumbling block for that intent is finding an R language expert to advise / help u

[2020-01-30 20:54] dthorpe commented on #38
erp.  Jinx!  :)

[2020-01-31 17:12] GShotwell commented on #38
Ah great to hear that things are moving forward. I'd suggest adding some text to the README or a [lifecycle badge](https://www.tidyverse.org/lifecycle/) to express that it's not  under active development.

I'd be happy to help with the R binding, I've worked on a few API wrappers previously, though none that relied on a codegen process. Let me know what the best process is to get started.

[2020-01-31 19:16] jkaster commented on #38
Good suggestion on documenting the status of LookR. We'll get to that hopefully next week!

I'm really happy to hear about the R binding. I'm meeting with an R aficionado here at Looker soon, and I'll have the start of a plan then. Just having someone who knows R who can say "Yuck, that's an ugly pattern" (or not) will be really valuable. If you read the rationale document linked above you should

[2020-03-05 15:40] scrane-amplify commented on #38
+1 for documenting the status of this repo. I see that update was never made. I'd also be happy to contribute to an R SDK however might be helpful.

[2020-03-05 17:49] jkaster commented on #38
Work will commence on the update to LookR shortly. Please stay tuned.

[2020-03-19 21:47] wgrosso commented on #35
Any news here? I get the same error on Windows 10 and wonder what the solution was?

[2020-05-29 16:27] alan-krumholz opened #40 "R SDK don't seem to have the look() method and can't find another way to run a look with a different filter"
R SDK don't seem to have the look() method and can't find another way to run a look with a different filter

In Python and Ruby we ca do that using:

Python:
[code]
Ruby
[code]
but we need a way to do the same using the R SDK. Is it possible?

Thanks

[2020-06-18 06:09] rsaporta commented on #38
Howdie @jkaster, @dthorpe,  curious if any update on this?   thanks!

[2020-06-18 06:50] jkaster commented on #38
Thanks for asking! Not yet, although we did just land a branch for Look#,
the C# SDK in the SDK codegen project. LookR is next on our list to look at
again.

On Wed, Jun 17, 2020, 11:09 PM Rick Saporta <notifications@github.com>
wrote:

[2020-06-18 13:28] scrane-amplify commented on #40
This package is not maintained (see [issue 38](https://github.com/looker-open-source/lookr/issues/38)). I suggest trying over at the official Looker SDK project: https://github.com/looker-open-source/sdk-codegen

[2022-03-30 08:28] Nigel-Brown commented on #22
Using the following code: `data <- sdk$userSession$lookApi$look(look_id = 27185, config = sdk$oauthHeader)$content`
I'm receiving the following error message: `Error in self$fromJSONObject(QueryObject) :
  object 'TODO_OBJECT_MAPPING' not found`.
 If I leave the config argument out of the function call, the response is a 401 error